/*butterfly3.3.8�汾 ����ɫ��*/
#web_bg {
    background: -webkit-linear-gradient( 0deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100% );
    background: -moz-linear-gradient( 0deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100% );
    background: -o-linear-gradient( 0deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100% );
    background: -ms-linear-gradient( 0deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100% );
    background: linear-gradient( 90deg, rgba(247, 149, 51, 0.1) 0, rgba(243, 112, 85, 0.1) 15%, rgba(239, 78, 123, 0.1) 30%, rgba(161, 102, 171, 0.1) 44%, rgba(80, 115, 184, 0.1) 58%, rgba(16, 152, 173, 0.1) 72%, rgba(7, 179, 155, 0.1) 86%, rgba(109, 186, 130, 0.1) 100% );
}
/*************************************/
/*ҳ��͸��*/
#footer {
    background: transparent !important; /*ȫ͸������ѡ��*/
}

    /* ��͸���Լ�͸��ɫ��δѡ�ã�
#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
}
#footer::before {
    background: rgba(255,255,255,.15)
}
*/
    #footer #footer-wrap {
        color: var(--font-color);
    }

        #footer #footer-wrap a {
            color: var(--font-color);
        }
/*************************************/
/* ��ҳ��������ҳ�汳�� */
#aside_content .card-widget,
#recent-posts > .recent-post-item,
.layout_page > div:first-child:not(.recent-posts),
.layout_post > #page,
.layout_post > #post,
.read-mode .layout_post > #post {
    /* ���´���͸����Ϊ0.5 */
    background: rgba(255, 255, 255, .5);
}

/*�����ҳ��*/
#aside-content > .card-widget {
    background: rgba(255, 255, 255, .5);
}

 /* ������ϢFollow me��ť */
 #aside-content > .card-widget.card-info > #card-info-btn {
    background-color: #3eb8be;
    border-radius: 8px;
 }

#aside-content > .sticky_layout > .card-widget {
    background: rgba(255, 255, 255, .5);
}

/*����ҳ��*/
.layout > #post {
    background: rgba(255, 255, 255, .5);
}

/*����ҳ��*/
.layout > #page {
    background: rgba(255, 255, 255, .5);
}

/*ʱ����ҳ��*/
.layout > #archive {
    background: rgba(255, 255, 255, .5);
}
/*************************************/
/*������*/
#page-header.nav-fixed #nav {
    background: rgba(246, 239, 246, 0.61) !important;
    backdrop-filter: blur(8px) !important;
}

[data-theme=dark]
#page-header.nav-fixed #nav {
    background: rgba(79, 76, 79, 0.35) !important;
    backdrop-filter: blur(8px) !important;
}

#nav .show {
    background: rgba(246, 239, 246, 0.61) !important;
    backdrop-filter: blur(8px) !important;
}

[data-theme=dark]
#nav .show {
    background: rgba(79, 76, 79, 0.35) !important;
    backdrop-filter: blur(8px) !important;
}

/*�ֻ�ģʽ�����*/
#sidebar #sidebar-menus.open {
    background: rgba(246, 239, 246, 0.75) !important;
    backdrop-filter: blur(3px);
    border-radius: 0px 0 0 6px;
}

[data-theme=dark]
#sidebar #sidebar-menus.open {
    background: rgba(252, 224, 252, 0.11) !important;
    backdrop-filter: blur(3px);
    border-radius: 0px 0 0 6px;
}
/*��߿��ư�ť*/
#rightside > #rightside-config-show > #rightside_config,
#rightside > #rightside-config-show > #to_comment,
#rightside > #rightside-config-show > #go-up,
#rightside > #rightside-config-show > #go-down,
#rightside > #rightside-config-hide > #readmode,
#rightside > #rightside-config-hide > #translateLink,
#rightside > #rightside-config-hide > #hide-aside-btn {
    background: opacity(0.3);
    backdrop-filter: blur(3px);
}

[data-theme=dark]
#rightside > #rightside-config-show > #rightside_config,
#rightside > #rightside-config-show > #to_comment,
#rightside > #rightside-config-show > #go-up,
#rightside > #rightside-config-show > #go-down,
#rightside > #rightside-config-hide > #readmode,
#rightside > #rightside-config-hide > #translateLink,
#rightside > #rightside-config-hide > #hide-aside-btn {
    background: opacity(0.3);
    backdrop-filter: blur(3px);
}
/*����*/
#local-search .search-dialog,
#local-search .search-dialog .local-search-box input {
    background: rgba(246, 239, 246, 0.75) !important;
    backdrop-filter: blur(3px);
    border-radius: 6px 6px;
}

    [data-theme=dark]
    #local-search .search-dialog,
    #local-search .search-dialog .local-search-box input {
        background: rgba(252, 224, 252, 0.2) !important;
        backdrop-filter: blur(3px);
        border-radius: 6px 6px;
    }
/*************************************/