/* 设置全局字体 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://nisekana.github.io/img/background/home_top.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    color: #fff;
    text-align: center;
    opacity: 0;
    animation: fade-in 1s forwards;
}

/* 设置个人头像样式 */
.avatar {
    display: block;
    margin: 0 auto;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transform: scale(0);
    animation: scale-in 1s 0.5s forwards;
}

/* 设置姓名样式 */
.name {
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fade-in 1s 1s forwards;
}

/* 设置个人签名样式 */
.signature {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    opacity: 0;
    animation: fade-in 1s 1.5s forwards;
}

/* 设置一言展示样式 */
.hitokoto {
    margin-top: 20px;
    font-size: 18px;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
    opacity: 0;
    animation: fade-in 1s 2s forwards;
}

/* 设置导航样式 */
.nav {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fade-in 1s 2.5s forwards;
}

.nav-item {
    margin: 10px;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(180, 180, 180, 0.5);
    border-radius: 5px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    cursor: pointer;
    transform: scale(0);
    animation: scale-in 1s 3s forwards;
}

.nav-item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* 底栏样式 */
.footer {
	display: block;
	justify-content: center;
    text-align: center;
}

.footer p { 
	color: #c4c4c4;
	font-size: 14px;
}

/* 渐显动画 */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 缩放渐显动画 */
@keyframes scale-in {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* 小屏幕样式 */
@media (max-width: 768px) {
    .name {
        font-size: 30px;
    }

    .signature {
        font-size: 16px;
    }

    .hitokoto {
        font-size: 16px;
    }

    .nav-item {
        font-size: 18px;
    }
}